<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!-- 로컬 환경 -->
  <springProfile name="local">
    <include resource="logback/console/info-console.xml"/>
    <include resource="logback/console/warn-console.xml"/>
    <include resource="logback/console/error-console.xml"/>
    <root level="info">
      <appender-ref ref="INFO_CONSOLE"/>
      <appender-ref ref="WARN_CONSOLE"/>
      <appender-ref ref="ERROR_CONSOLE"/>
    </root>
  </springProfile>

  <!-- 개발 환경, 프로덕션 환경 -->
  <springProfile name="dev, prod">
    <include resource="logback/file/info-appender.xml"/>
    <include resource="logback/file/warn-appender.xml"/>
    <include resource="logback/file/error-appender.xml"/>
    <root level="info">
      <appender-ref ref="INFO"/>
      <appender-ref ref="WARN"/>
      <appender-ref ref="ERROR"/>
    </root>
  </springProfile>
</configuration>
